{% extends 'template.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}
{% block head %}
{% endblock head %}
{% block body %}
<div class="fixed w-full mb-10">
    {% include 'navbar.html' %}
</div>
<div class="fixed top-10 w-full bg-transparent flex justify-center items-center ">
    {% include 'complaint.html' %}
</div>

<section>
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        {% else %}
        <div class="alert alert-success">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            {% endif %}
            <span>{{ message }}</span>
        </div>
        {% endfor %}
        <div class="container px-6 py-10 mx-auto">
            <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
                {% for missing in people %}
                <div class="lg:flex">
                    <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="{{missing.image}}"
                        alt="{{ missing.name }}">

                    <div class="flex flex-col justify-between py-6 lg:mx-6 text-justify">
                        <h1 class="text-xl font-bold">{{ missing.name }}</h1>
                        <p class=""><b>Age: </b>{{ missing.age }}</p>
                        <p class=""><b>Gender: </b>{{ missing.gender }}</p>
                        <p class=""><b>Last Seen On: </b>{{ missing.last_seen }}</p>
                        <p class=""><b>Contact: </b>{{ missing.contact_info }}</p>
                        <p class=""><b>Description: </b>{{ missing.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
</section>
{% endblock body %}