{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LostToFound - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="shortcut icon" href="{% static 'img/pictures/ltf.png' %}" type="image/x-icon">
    {% block head %}{% endblock head %}
</head>

<body>
    {% block body %}{% endblock body %}
</body>

</html>